@font-face {
  font-family: avenir;
  src: url(./fonts/AvenirNext-Heavy.ttf) format("truetype");
  font-weight: 800; }

@font-face {
  font-family: avenir;
  src: url(./fonts/AvenirNext-Bold.ttf) format("truetype");
  font-weight: 700; }

@font-face {
  font-family: avenir;
  src: url(./fonts/AvenirNext-DemiBold.ttf) format("truetype");
  font-weight: 600; }

@font-face {
  font-family: avenir;
  src: url(./fonts/AvenirNext-Medium.ttf) format("truetype");
  font-weight: 500; }

@font-face {
  font-family: avenir;
  src: url(./fonts/AvenirNext-Regular.ttf) format("truetype");
  font-weight: 400; }

@font-face {
  font-family: avenir;
  src: url(./fonts/AvenirNext-UltraLight.ttf) format("truetype");
  font-weight: 300; }

html {
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  padding: 0;
  background: #fff;
  overflow-x: hidden;
  font-family: "avenir", "Helvetica Neue", Helvetica, "Segoe UI", Arial, "Lucida Grande", sans-serif; }

a {
  text-decoration: none;
  color: inherit;
  outline: none; }

/* apply a natural box layout model to all elements */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.header {
  background: #00171F;
  color: #fff;
  height: 50px;
  text-align: center;
  padding-top: 12px;
  position: fixed;
  width: 100%;
  z-index: 10; }
  .header a {
    font-size: 20px;
    line-height: 26px;
    display: block; }
    .header a img {
      height: 27px;
      margin-right: 5px; }
    .header a div {
      display: inline-block;
      position: relative;
      bottom: 4px; }

.main {
  padding-top: 50px !important; }

.loading-message {
  font-size: 20px;
  color: #aaa;
  font-weight: 400;
  width: 100%;
  margin: 200px auto;
  text-align: center; }

.recipes {
  width: 900px;
  margin: 0 auto 100px; }
  .recipes input.filter {
    width: 700px;
    height: 50px;
    margin: 10px 0 5px;
    border: none;
    background: #f0f1f2;
    padding: 20px;
    font-size: 20px;
    outline: none; }
  .recipes .filter-button {
    width: 200px;
    overflow: hidden;
    border: none;
    background: #fff;
    height: 50px;
    margin-top: 10px;
    display: block;
    float: right;
    outline: none; }
    .recipes .filter-button img {
      height: 30px;
      width: 30px; }
    .recipes .filter-button .button-title {
      display: inline-block;
      position: relative;
      bottom: 8px;
      font-size: 16px; }
  .recipes .filter-button.-selected {
    color: #007EA7; }

.recipe {
  width: 900px;
  margin: 0 auto 100px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
  overflow: hidden; }

.recipe > .title {
  font-size: 30px;
  padding: 40px 20px;
  text-align: center;
  font-weight: 500; }

.recipe .image {
  width: 100%;
  height: 450px;
  background: rgba(255, 255, 255, 0.9);
  color: white;
  text-align: center;
  position: relative;
  background-position: center;
  background-size: cover; }

.recipe .ingredients-list {
  float: left;
  width: 280px;
  background: #f9f9f9;
  padding: 20px 20px;
  margin: 0 0 20px 20px; }
  .recipe .ingredients-list > .title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px; }
  .recipe .ingredients-list .ingredient {
    margin-bottom: 5px; }
    .recipe .ingredients-list .ingredient .name {
      font-weight: 500; }
    .recipe .ingredients-list .ingredient .section {
      font-weight: 500; }
  .recipe .ingredients-list .ingredient.section {
    margin-top: 20px; }
  .recipe .ingredients-list .ingredient:nth-child(0n +2) {
    margin-top: 20px; }

.recipe .instructions {
  float: right;
  width: 600px;
  padding: 20px 20px; }
  .recipe .instructions > .title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px; }
  .recipe .instructions .instruction {
    margin-bottom: 10px; }
  .recipe .instructions .instruction:nth-child(0n +2) {
    margin-top: 20px; }

.recipe-grid-item {
  width: calc(33% - 6px);
  margin: 6px;
  height: 215px;
  display: block;
  float: left;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); }
  .recipe-grid-item:nth-child(3n + 2) {
    margin-right: 1px; }
  .recipe-grid-item:nth-child(3n + 0) {
    margin-left: 1px; }

.recipe-grid-item .image {
  width: 100%;
  height: 150px;
  background: rgba(255, 255, 255, 0.9);
  color: white;
  text-align: center;
  position: relative;
  background-position: center;
  background-size: cover; }

.recipe-grid-item .title {
  text-decoration: none;
  padding: 10px;
  font-weight: 600; }
